.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-around;
    // margin: auto;
    padding: 1%;
}

.row {
    display: inline-block;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}

.placeholder {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.filters {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 300px;
}

.development {
    background-color: #ff1744;
}

.testing {
    background-color: #ffc400;
}

.stage {
    background-color: #1de9b6;
}

.production {
    background-color: #00e5ff;
}

.pilot {
    background-color: #64dd17;
}