.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .table {
        flex-grow: 1;
        width: 100%;
    }
}

.choose {
    margin-left: 2vw;
    margin-top: 2vh;
}