<section *ngIf="!data.finished" class="info-header">
    <h3 class="mat-h3">Currently updating room information...</h3>
</section>
<div *ngIf="data.finished" id="wrapper">
    <mat-tab-group id="tab-group" mat-stretch-tabs class="full mat-elevation-z0" [selectedIndex]="selectedTab" (selectedTabChange)="TabChange($event.index)">

        <mat-tab label="Overview">
            <room-overview [deviceList]="devices" [room]="room"></room-overview>
        </mat-tab>
        <mat-tab label="Alerts">
            <alerts></alerts>
        </mat-tab>

        <mat-tab label="Builder">
            <builder></builder>
        </mat-tab>
        <mat-tab label="Routing">
            <routing [roomID]="roomID"></routing>
        </mat-tab>
    </mat-tab-group>
</div>