.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.example-margin {
    margin: 0 10px;
}

.config-section {
    margin: 5px;
}