<h3>{{title}}</h3>
<!-- <mat-form-field>
    <mat-select [(ngModel)]="panelType" (ngModelChange)="ChoosePanel(panelType)" color="accent" #pType>
        <mat-option [value]="GetValue('AllAlerts')">All Alerts</mat-option>
        <mat-option [value]="GetValue('CriticalAlerts')">Critical Alerts</mat-option>
        <mat-option [value]="GetValue('WarnAlerts')">Warning Alerts</mat-option>            
    </mat-select>
</mat-form-field> -->


<div class="tableContainer">
    <ng-template dashDirect></ng-template>
</div>