<ng-container>
  <div class="action-container">
    <div class="row">
      <span class="mat-h2 item"
        >Total Issues:
        {{
          dataSource?.filteredData ? dataSource?.filteredData?.length : 0
        }}</span
      >
      <span class="mat-h2 item"
        >Total Active Alerts: {{ getTotalActiveAlertCount() }}</span
      >
    </div>

    <mat-divider></mat-divider>

    <div class="row">
      <mat-form-field class="filter-search">
        <mat-label>Filters</mat-label>
        <mat-chip-list #filterChips>
          <mat-chip
            *ngFor="let filter of filters?.filters"
            [selectable]="true"
            [removable]="true"
            (removed)="filters?.remove(filter?.ftype, filter?.key, filter?.val)"
          >
            {{ filter?.key ? filter.key + ":" : "" }} {{ filter.val }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input
            matInput
            [matChipInputFor]="filterChips"
            [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
            [matChipInputAddOnBlur]="false"
            (matChipInputTokenEnd)="filters?.addChip($event)"
          />
        </mat-chip-list>
      </mat-form-field>

      <!-- addable filters -->
      <mat-chip-list selectable multiple>
        <mat-chip
          [selected]="filters?.exists(filterType.For, 'severity', 'critical')"
          (click)="filters?.toggle(filterType.For, 'severity', 'critical')"
          >Critical</mat-chip
        >
        <mat-chip
          [selected]="filters?.exists(filterType.For, 'severity', 'warning')"
          (click)="filters?.toggle(filterType.For, 'severity', 'warning')"
          >Warning</mat-chip
        >
        <mat-chip
          [selected]="filters?.exists(filterType.For, 'severity', 'low')"
          (click)="filters?.toggle(filterType.For, 'severity', 'low')"
          >Low</mat-chip
        >
      </mat-chip-list>
    </div>
  </div>

  <table
    class="mat-elevation-z2"
    [dataSource]="dataSource"
    mat-table
    multiTemplateDataRows
    matSort
  >
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let issue" class="expand-column">
        <button
          mat-icon-button
          (click)="expandedIssue = expandedIssue === issue ? null : issue"
        >
          <mat-icon *ngIf="issue != expandedIssue">arrow_drop_up</mat-icon>
          <mat-icon *ngIf="issue == expandedIssue">arrow_drop_down</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="systemType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>System Type</th>
      <td mat-cell *matCellDef="let issue">
        <mat-icon>{{ issue?.icon }}</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="roomID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Room</th>
      <td mat-cell *matCellDef="let issue">
        <button mat-button color="primary" (click)="goToAlerts(issue?.roomID)">
          {{ issue?.roomID }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Count</th>
      <td mat-cell *matCellDef="let issue">
        <span>{{ issue?.activeAlertCount }} / {{ issue?.alertCount }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="alert-types">
      <th mat-header-cell *matHeaderCellDef>Alert Types</th>
      <td mat-cell *matCellDef="let issue">
        <span>{{ issue?.alertTypesOverview() }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Issue Age</th>
      <td mat-cell *matCellDef="let issue">
        <span>{{ issue?.oldestActiveAlert?.startTime | dateAgo }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastNote">
      <th mat-header-cell *matHeaderCellDef>Last Note</th>
      <td mat-cell *matCellDef="let issue">
        <span>{{ issue?.noteInfo(issue?.notes)?.content }}</span>
      </td>
    </ng-container>

    <!-- alert table -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let issue" [attr.colspan]="issueCols.length">
        <div
          class="alert-detail"
          [@detailExpand]="issue === expandedIssue ? 'expanded' : 'collapsed'"
        >
          <table mat-table [dataSource]="issue?.alerts">
            <ng-container matColumnDef="deviceID">
              <th mat-header-cell *matHeaderCellDef>
                Device Name
              </th>
              <td mat-cell *matCellDef="let alert">
                <span>{{ alert?.deviceID }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>
                Alert Type
              </th>
              <td mat-cell *matCellDef="let alert">
                <span>{{ alert?.type }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="message">
              <th mat-header-cell *matHeaderCellDef>
                Message
              </th>
              <td mat-cell *matCellDef="let alert">
                <span>{{ alert?.message }}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="startTime">
              <th mat-header-cell *matHeaderCellDef>
                Start Time
              </th>
              <td mat-cell *matCellDef="let alert">
                <span>{{ alert?.startTime | date: "short" }}</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="alertCols"></tr>
            <tr
              mat-row
              *matRowDef="let alert; columns: alertCols"
              class="severity"
              [class.warning]="alert?.severity?.toLowerCase() === 'warning'"
              [class.critical]="alert?.severity?.toLowerCase() === 'critical'"
            ></tr>
          </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="issueCols; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let issue; columns: issueCols"
      class="severity"
      [class.warning]="issue?.severity === 'warning'"
      [class.critical]="issue?.severity === 'critical'"
    ></tr>
    <tr
      mat-row
      *matRowDef="let issue; columns: ['expandedDetail']"
      class="alert-detail-row"
    ></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[32, 64, 128, 256]"></mat-paginator>
</ng-container>
