.action-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.item {
    margin-top: 10px;
}

.filter-search {
    margin-left: 2vw;
    margin-right: 4vw;
    width: 25vw;
}

table {
    width: 100%;
}

.alert-detail {
    overflow: hidden;
    display: flex;
}

.alert-detail-row {
    height: 0;
}

.total {
    display: flex;
    flex-flow: row wrap;
    // height: 6vh;
    min-width: 15%;
    margin: 15px 25px;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 4px; 
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    background-color: white;
    padding: 2px 10px;
}

.severity {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: default;
    width: 18px;
    min-height: 40px;
    height: 80%;
    border-radius: 12px;
    background-color: #ffd600;
    &.warning {
        background-color: #fb8c00;
    }
    &.critical {
        background-color: #f44336;
        color: white;
    }
}

.expand-column {
    width: 2vw;
    padding: 0 0.3vw !important;
}

.resolved-alert {
    background: #9e9e9e !important;
    opacity: 0.5;
}