<h1 mat-dialog-title>Resolving issue in {{ data?.issue?.roomID }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input
      placeholder="Closure Code"
      [formControl]="codeCtrl"
      [matAutocomplete]="auto"
      matInput
    />

    <mat-error
      *ngIf="codeCtrl.hasError('invalid') && !codeCtrl.hasError('required')"
    >
      Invalid closure code
    </mat-error>
    <mat-error *ngIf="codeCtrl.hasError('required')">
      Closure code is <strong>required</strong>
    </mat-error>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let code of (filteredCodes | async)" [value]="code">
        {{ code }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea
      placeholder="Notes"
      [(ngModel)]="data.resInfo.notes"
      matInput
      matTextareaAutosize
    ></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions align="end">
  <button (click)="onNoClick()" mat-button>Cancel</button>
  <button
    class="resolve"
    [class.success]="resolved"
    [class.error]="error"
    [disabled]="!validForm()"
    (click)="resolve()"
    mat-button
  >
    <span [class.active]="!resolving && !resolved && !error">Resolve</span>
    <mat-spinner
      class="spinner"
      [class.active]="resolving && !resolved && !error"
      diameter="20"
    ></mat-spinner>
    <mat-icon [class.active]="resolved">check</mat-icon>
    <mat-icon [class.active]="error">close</mat-icon>
  </button>
</div>
