<mat-tab-group mat-stretch-tabs class="full mat-elevation-z0">
  <!-- Rooms Tab -->
  <mat-tab label="Rooms">
    <!--Filter Bar Probably make this a little smaller -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Rooms">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Room ID </th>
          <td mat-cell *matCellDef="let row"> {{row.room}} </td>
        </ng-container>

        <ng-container matColumnDef="alerts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Alerts </th>
          <td mat-cell *matCellDef="let row"> {{row.alerts}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
          <button mat-icon-button *ngIf="IsADisplay(device)" [ngClass]="DisplayIsOn(device) ? 'display on' : 'display icon'"><mat-icon>{{text.DefaultIcons[device?.type.id]}}</mat-icon></button>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <!-- To Edit the number of results per page by default, change the first number in the array -->
      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator> 
    </div>
  </mat-tab>

  <!-- Static Devices Tab -->
  <mat-tab label="Static Devices">
    <!--Filter Bar Probably make this a little smaller -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Static Devices">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="room">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Room </th>
          <td mat-cell *matCellDef="let row"> {{row.room}} </td>
        </ng-container>

        <ng-container matColumnDef="alerts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Alerts </th>
          <td mat-cell *matCellDef="let row"> {{row.alerts}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
          <td mat-cell *matCellDef="let row"> {{row.status}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      
      <!-- To Edit the number of results per page by default, change the first number in the array -->
      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>