<mat-tab-group mat-stretch-tabs class="full mat-elevation-z0">
  <!-- Rooms Tab -->
  <mat-tab label="Rooms">
    <!--Filter Bar Probably make this a little smaller -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Rooms">
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="buildingID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Buidling ID </th>
          <td mat-cell *matCellDef="let row"> {{row.buildingID}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <ng-container matColumnDef="device">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Device </th>
          <td mat-cell *matCellDef="let row"> {{row.device}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <!-- To Edit the number of results per page by default, change the first number in the array -->
      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator> 
    </div>
  </mat-tab>

  <!-- Static Devices Tab -->
  <mat-tab label="Static Devices">
    <!--Filter Bar Probably make this a little smaller -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Static Devices">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="buildingID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Building ID </th>
          <td mat-cell *matCellDef="let row"> {{row.buildingID}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <ng-container matColumnDef="device">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Device </th>
          <td mat-cell *matCellDef="let row"> {{row.device}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      
      <!-- To Edit the number of results per page by default, change the first number in the array -->
      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>