<div>
  <section>
    <h2 class="mat-h1 title">Settings</h2>
  </section>

  <mat-form-field class="panel-input">
    <mat-label class="panel-input"># of Dashboard Panels</mat-label>
    <mat-select
      matInput
      (selectionChange)="SetPanelCount($event.value)"
      color="accent"
      [(ngModel)]="data.panelCount"
      class="panel-input"
    >
      <mat-option *ngFor="let num of panelMax" [value]="num">{{
        num
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="panel-input">
    <mat-label>Notifications Enabled</mat-label>
    <div align="right">
      <mat-slide-toggle
        (change)="UpdateTheme($event.checked)"
        [checked]="api?.theme === 'dark'"
        class="slider"
      >
      </mat-slide-toggle>
    </div>
  </div>
  <div class="panel-input">
    <mat-label>Dark Theme</mat-label>
    <mat-slide-toggle
      (change)="UpdateNotifications($event.checked)"
      [checked]="data?.notificationsEnabled == true"
      class="slider"
      align="right"
    >
    </mat-slide-toggle>
  </div>
</div>
