<div class="container">
    <span class="fill-remaining-space"></span>
    <section class="container left" dnd-droppable [dropZones]="['pi']" (onDropSuccess)="AddNewPreset($event.dragData.id)">
        <mat-card *ngFor="let preset of config?.presets" class="preset-card">
            <mat-card-header dnd-droppable [dropZones]="['pi']" (onDropSuccess)="SetPresetOnPanel(preset, $event.dragData.id)">
                <div mat-card-avatar [ngClass]="'uipath-' + GetPresetUIPath(preset.name, true)"></div>
                <mat-card-title>{{ preset.name }}</mat-card-title>
                <mat-card-subtitle>
                    <ng-container *ngFor="let panel of config?.panels">
                        <ng-container *ngIf="panel.preset === preset.name">
                            {{ panel.hostname.split("-")[2] }}
                        </ng-container>
                    </ng-container>
                </mat-card-subtitle>
                <span class="fill-remaining-space"></span>
                <button mat-icon-button (click)="PrepPresetModal(preset)">
                  <mat-icon>more_horiz</mat-icon>
                </button>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="content">
                <div class="row lists">
                    <div class="drop-container list" dnd-droppable [dropZones]="['display']" (onDropSuccess)="
              AddItemToPresetList(preset.displays, $event.dragData.name); UpdateUIPathOnPanels(preset);
            ">
                        <mat-list class="preset-list">
                            <h3 mat-subheader>Displays</h3>
                            <ng-container *ngFor="let out of config?.outputConfiguration">
                                <mat-list-item *ngIf="preset?.displays?.includes(out.name)">
                                    <div class="device-box mat-elevation-z2 spacing" dnd-draggable [dragEnabled]="true" [dropZones]="['display']" [dragData]="out" (onDragSuccess)="
                      RemoveItemFromPresetList(
                        preset.displays,
                        $event.dragData.name
                      )
                    ">
                                        <div class="row card">
                                            <mat-icon (click)="modal.OpenIconModal(out)">{{ out.icon }}
                                            </mat-icon>
                                            <span (click)="
                          modal.OpenDeviceModal(GetDeviceByName(out.name), devicesInRoom)
                        " matBadge="!" [matBadgeHidden]="PortsAreFine(out.name)" matBadgeColor="warn" matBadgeDescription="No ports set on this device">{{ out.name }}</span
                      >
                    </div>
                  </div>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>

          <div
            class="drop-container list"
            dnd-droppable
            [dropZones]="['input']"
            (onDropSuccess)="
              AddItemToPresetList(preset.inputs, $event.dragData.name)
            "
          >
            <mat-list class="preset-list">
              <h3 mat-subheader>Inputs</h3>
              <ng-container *ngFor="let in of config?.inputConfiguration">
                <mat-list-item *ngIf="preset?.inputs?.includes(in.name)" >
                                            <div class="device-box mat-elevation-z2 spacing" dnd-draggable [dragEnabled]="true" [dropZones]="['input']" [dragData]="in" (onDragSuccess)="
                      RemoveItemFromPresetList(
                        preset.inputs,
                        $event.dragData.name
                      )
                    " >
                                                <div class="row card" >
                                                    <mat-icon (click)="modal.OpenIconModal(in)">{{ in.icon }}
                                                    </mat-icon>
                                                      <span (click)="
                                                      modal.OpenDeviceModal(GetDeviceByName(in.name), devicesInRoom)
                                                    " matTooltip="{{GetDeviceByName(in.name).displayName}}">{{
                                                      in.name === "ChromeCast"
                                                        ? "CC1"
                                                        : in.name === "AppleTV"
                                                        ? "ATV1"
                                                        : in.name
                                                    }}</span
                                                  >
                                                    
                    </div>
                  </div>
                </mat-list-item>
                <!-- <mat-list-item *ngIf="preset?.inputs?.includes(in.name)" class="device-box mat-elevation-z2 spacing" dnd-draggable [dragEnabled]="true" [dropZones]="['input']" [dragData]="in" (onDragSuccess)="RemoveItemFromPresetList(preset.inputs, $event.dragData.name)">
                      <div class="row card">
                          <mat-icon mat-list-icon (click)="modal.OpenIconModal(in)">{{ in.icon }}</mat-icon>
                          <span mat-line (click)="modal.OpenDeviceModal(GetDeviceByName(in.name))">{{in.name === "ChromeCast" ? "CC1" : in.name === "AppleTV" ? "ATV1" : in.name}}</span>
                                            <mat-hint mat-line (click)="modal.OpenDeviceModal(GetDeviceByName(in.name))">{{GetDeviceByName(in.name).displayName}}</mat-hint>
                                        </div>
                                </mat-list-item> -->
                            </ng-container>
                        </mat-list>
                        </div>

                        <div class="drop-container list" dnd-droppable [dropZones]="['audio']" (onDropSuccess)="
              AddItemToPresetList(
                preset.independentAudioDevices,
                $event.dragData.name
              )
            ">
                            <mat-list class="preset-list">
                                <h3 mat-subheader>Audio Devices</h3>
                                <ng-container *ngFor="let out of config?.outputConfiguration">
                                    <mat-list-item *ngIf="preset?.independentAudioDevices?.includes(out.name)">
                                        <div class="device-box mat-elevation-z2 spacing" dnd-draggable [dragEnabled]="true" [dropZones]="['audio']" [dragData]="out" (onDragSuccess)="
                      RemoveItemFromPresetList(
                        preset.independentAudioDevices,
                        $event.dragData.name
                      )
                    ">
                                            <div class="row card">
                                                <mat-icon (click)="modal.OpenIconModal(out)">{{ out.icon }}
                                                </mat-icon>
                                                <span (click)="
                          modal.OpenDeviceModal(GetDeviceByName(out.name), devicesInRoom)
                        ">{{ out.name }}</span
                      >
                    </div>
                  </div>
                </mat-list-item>
              </ng-container>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <mat-divider [vertical]="true"></mat-divider>
  <aside class="container right">
    <div class="searchbar devices mat-elevation-z0">
      <mat-icon class="searchbar icon mat-elevation-z0">search</mat-icon>
      <mat-form-field class="short">
        <input
          matInput
          [(ngModel)]="deviceSearch"
          (ngModelChange)="SearchDevices()"
        />
      </mat-form-field>
    </div>
    <div
      class="column"
      dnd-droppable
      [dropZones]="['pi', 'input', 'display', 'audio']"
    >
      <div class="row">
        <div
          *ngFor="let device of filteredDevices"
          class="device-box mat-elevation-z2 spacing"
          dnd-draggable
          [dragEnabled]="true"
          [dropZones]="GetValidDropZones(device)"
          [dragData]="device"
        >
          <div class="row card">
            <mat-icon>{{ GetDeviceIcon(device) }}</mat-icon>
                                                <span>{{
              device.name === "ChromeCast"
                ? "CC1"
                : device.name === "AppleTV"
                ? "ATV1"
                : device.name
            }}</span>
                                            </div>
                                        </div>
                        </div>
                    </div>
                    <span class="fill-remaining-space"></span>
                    <div class="menu" dir="rtl">
                        <button mat-fab color="primary" [matMenuTriggerFor]="classes">
        <mat-icon>add</mat-icon>
      </button>
                        <mat-menu #classes>
                            <button mat-menu-item (click)="AddNewDevice('Pi3')">
          <mat-icon>{{ text.DefaultIcons["Pi3"] }}</mat-icon>
          <span>Pi</span>
        </button>
                            <button mat-menu-item [matMenuTriggerFor]="tvs">
          TVs
        </button>
                            <button mat-menu-item [matMenuTriggerFor]="projectors">
          Projector
        </button>
                            <button mat-menu-item [matMenuTriggerFor]="inputs">Inputs</button>

                            <button mat-menu-item [matMenuTriggerFor]="temps">Templates</button>
                        </mat-menu>

                        <mat-menu #tvs>
                            <button mat-menu-item *ngFor="let size of tvSizes" (click)="AddNewDevice('SonyXBR')">
          <mat-icon>tv</mat-icon>
          <span>{{size}}</span>
        </button>
                        </mat-menu>

                        <mat-menu #projectors>
                            <button mat-menu-item *ngFor="let type of projectorTypes" (click)="AddNewDevice(type.id)">
          <mat-icon>{{ text.DefaultIcons[type.id] }}</mat-icon>
          <span>{{ type.displayName }}</span>
        </button>
                        </mat-menu>

                        <mat-menu #inputs>
                            <button mat-menu-item *ngFor="let type of inputTypes" (click)="AddNewDevice(type.id)">
          <mat-icon>{{ text.DefaultIcons[type.id] }}</mat-icon>
          <span>{{ type.displayName }}</span>
        </button>
                        </mat-menu>

                        <mat-menu #temps>
                            <button mat-menu-item *ngFor="let t of templates" (click)="AddTemplate(t)">
                            {{t.id}}
                          </button>
                        </mat-menu>
                    </div>
                    <!-- <div class="row buttons"> -->
                    <button mat-raised-button class="button save" (click)="SavePageData()">Save Changes</button>
                    <button mat-raised-button class="button undo" color="accent" (click)="RevertChanges()">
      Scrap Changes
    </button>
                    <!-- </div> -->
                    </aside>
                </div>