<table mat-table [dataSource]="issueData" matSort multiTemplateDataRows class="container mat-elevation-z0">
    <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="activeAlertSeverities"></th>
        <td mat-cell *matCellDef="let issue" [ngClass]="GetIssuecolor(issue)" (click)="ExpandRow(issue)">
            <!-- <div *ngFor="let sev of issue.activeAlertSeverities" [ngClass]="sev + '-indicator'" (click)="ExpandRow(issue)">
            </div> -->
        </td>
    </ng-container>

    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="systemType">
            System Type
        </th>
        <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)">
            <mat-icon>{{ text.SystemTypeIcon[issue.systemType] }}</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="roomID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="roomID">Room ID</th>
        <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)">
            <div routerLink="/configuration/{{ issue.roomID }}/roompage/2" class="fake-hyperlink">
                {{ issue.roomID }}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef class="centered">Active/Total</th>
        <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)" class="centered">
            {{ issue.activeAlertCount }}/{{ issue.alertCount }}
        </td>
    </ng-container>

    <ng-container matColumnDef="types">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Types</th>
        <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)">
            {{ issue.activeAlertTypes?.length > charCount ? (ArrayToString(issue.activeAlertTypes) | slice: 0:charCount) + ".." : ArrayToString(issue.activeAlertTypes) }}
        </td>
    </ng-container>

    <ng-container matColumnDef="incident">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Incident Age</th>
        <td mat-cell *matCellDef="let issue">
            {{ GetIssueAge(issue) }}
        </td>
    </ng-container>
    <!--
        <ng-container matColumnDef="help-sent">
            <th mat-header-cell *matHeaderCellDef class="centered"> Help Sent </th>
            <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)" class="centered">
                <mat-icon *ngIf="issue.SentIsZero()" class="bad-status">cancel</mat-icon>
                <mat-icon *ngIf="!issue.SentIsZero()" class="good-status">check_circle</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="help-arrived">
            <th mat-header-cell *matHeaderCellDef class="centered"> Help Arrived </th>
            <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)" class="centered">
                <mat-icon *ngIf="issue.ArrivedIsZero()" class="bad-status">cancel</mat-icon>
                <mat-icon *ngIf="!issue.ArrivedIsZero()" class="good-status">check_circle</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="responders">
            <th mat-header-cell *matHeaderCellDef> Responders </th>
            <td mat-cell *matCellDef="let issue" (click)="ExpandRow(issue)">
                {{ArrayToString(issue.responders)}}
            </td>
        </ng-container>
        -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let issue" [attr.colspan]="issueColumns.length">
            <div class="alert-detail" [@detailExpand]="ShouldIExpand(issue) ? 'expanded' : 'collapsed'">
                <table mat-table [dataSource]="issue.alerts.sort(SortByActiveAlerts)" class="mat-elevation-z0">
                    <ng-container matColumnDef="severity-color">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let alert" [ngClass]="alert.severity + '-indicator'"></td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Device Name</th>
                        <td mat-cell *matCellDef="let alert">
                            {{ GetDeviceName(alert.deviceID) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef>Type</th>
                        <td mat-cell *matCellDef="let alert">
                            {{ text.Title(alert.type) }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>Category</th>
                        <td mat-cell *matCellDef="let alert">
                            <mat-chip-list>
                                <mat-chip color="warn">{{ text.Title(alert.category) }}
                                </mat-chip>
                            </mat-chip-list>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="message">
                        <th mat-header-cell *matHeaderCellDef>Message</th>
                        <td mat-cell *matCellDef="let alert">{{ alert.message }}</td>
                    </ng-container>

                    <ng-container matColumnDef="start-time">
                        <th mat-header-cell *matHeaderCellDef>Start Time</th>
                        <td mat-cell *matCellDef="let alert">
                            <ng-container *ngIf="!TimeIsZero(alert.startTime)">
                                {{ GetReadableTimestamp(alert.startTime) }}
                            </ng-container>
                            <ng-container *ngIf="TimeIsZero(alert.startTime)">
                                --
                            </ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="end-time">
                        <th mat-header-cell *matHeaderCellDef>End Time</th>
                        <td mat-cell *matCellDef="let alert">
                            <ng-container *ngIf="!TimeIsZero(alert.endTime) && !alert.active">
                                {{ GetReadableTimestamp(alert.endTime) }}
                            </ng-container>
                            <ng-container *ngIf="TimeIsZero(alert.endTime)">
                                --
                            </ng-container>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="alertColumns"></tr>
                    <tr mat-row *matRowDef="let alert; columns: alertColumns" [class.inactive-alert]="!alert.active"></tr>
                </table>
            </div>
        </td>
    </ng-container>

    <!--
  <ng-container matColumnDef="paginator">
    <td mat-footer-cell *matFooterCellDef colspan="100">
      <mat-paginator
        [pageSizeOptions]="pageOptions"
        [pageSize]="pageSize"
      ></mat-paginator>
    </td>
  </ng-container>
  -->

    <tr mat-header-row *matHeaderRowDef="issueColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let issue; columns: issueColumns" [class.example-expanded-row]="ShouldIExpand(issue)"></tr>
    <tr mat-row *matRowDef="let issue; columns: ['expandedDetail']" class="alert-detail-row"></tr>

    <!-->
    <tr mat-footer-row *matFooterRowDef="['paginator']; sticky: true"></tr>
    -->
</table>

<mat-paginator [pageSizeOptions]="pageOptions" [pageSize]="pageSize"></mat-paginator>