table {
    width: 100%;
    margin: auto;
}

tr.alert-detail-row {
    height: 0;
    font-size: 5pt;
}

td.alert-detail-row {
    height: 0;
    font-size: 5pt;
}

button {
    text-align: left;
    padding: 0px 0px;
    width: wrap;
}

.alert-row td {
    border-bottom-width: 1;
    background-color: #f7f7f7;
}

.alert-row-dark td {
    border-bottom-width: 1;
    background-color: #3b3b3b;
}

.alert-detail {
    overflow: hidden;
    display: flex;
}

.Critical-severity {
    color: #f44336;
    // color: #9e9e9e;
    width: 80px;
    cursor: default;
}

.Warning-severity {
    color: #fb8c00;
    // color: #9e9e9e;
    width: 80px;
    cursor: default;
}

.low-severity {
    color: #ffd600;
    // color: #9e9e9e;
    width: 80px;
    cursor: default;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.good-status {
    color: #43a047;
}

.bad-status {
    color: #f44336;
}

.centered {
    text-align: center;
}

.filter {
    // margin: auto;
    width: 200px;
}

.row-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    width: 95%;
    margin: auto;
}


/* Column Widths */

.mat-column-number,
.mat-column-state {
    max-width: 64px;
}

.mat-column-created {
    max-width: 124px;
}

.mat-column-icon {
    max-width: 70px;
    width: 70px;
}