<!-- <p>
    alerttable works!
</p> -->

<div class="mat-elevation-z3 container">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z0">
        <ng-container matColumnDef="icon">
            <th mat-header-cell *matHeaderCellDef> System Type </th>
            <td mat-cell *matCellDef="let ra" (click)="ExpandRow(ra)">
                <mat-icon>{{ra.systemTypeIcon}}</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="roomID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Room ID </th>
            <td mat-cell *matCellDef="let ra">{{ra.roomID}}</td>
        </ng-container>

        <ng-container matColumnDef="alertCount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
            <td mat-cell *matCellDef="let ra" (click)="ExpandRow(ra)">{{ra.alerts.length}}</td>
        </ng-container>

        <ng-container matColumnDef="incident">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> INC </th>
            <td mat-cell *matCellDef="let ra" (click)="ServiceNowRedirect(ra.incidentID)">{{ra.incidentID}}</td>
        </ng-container>

        <ng-container matColumnDef="help-sent">
            <th mat-header-cell *matHeaderCellDef class="centered"> Help Sent </th>
            <td mat-cell *matCellDef="let ra" (click)="ExpandRow(ra)" class="centered">
                <mat-icon *ngIf="ra.helpSent" class="good-status">check_circle</mat-icon>
                <mat-icon *ngIf="!ra.helpSent" class="bad-status">cancel</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="help-arrived">
            <th mat-header-cell *matHeaderCellDef class="centered"> Help Arrived </th>
            <td mat-cell *matCellDef="let ra" (click)="ExpandRow(ra)" class="centered">
                <mat-icon *ngIf="ra.helpArrived" class="good-status">check_circle</mat-icon>
                <mat-icon *ngIf="!ra.helpArrived" class="bad-status">cancel</mat-icon>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="respond" [stickyEnd]=true>
            <th mat-header-cell *matHeaderCellDef> Respond </th>
            <td mat-cell *matCellDef="let ra"><button mat-raised-button color='accent' (click)="modal.OpenRespondModal(ra)">Respond</button></td>
        </ng-container> -->

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let ra" [attr.colspan]="alertRowColumns.length">
                <div class="alert-detail" [@detailExpand]="expRoomAlerts === ra ? 'expanded' : 'collapsed'">
                    <table mat-table [dataSource]="ra.alerts" multiTemplateDataRows>
                        <ng-container matColumnDef="deviceName">
                            <th mat-header-cell *matHeaderCellDef> Device Name </th>
                            <td mat-cell *matCellDef="let alert">{{alert.deviceID}}</td>

                        </ng-container>

                        <ng-container matColumnDef="alertType">
                            <th mat-header-cell *matHeaderCellDef> Type </th>
                            <td mat-cell *matCellDef="let alert">{{text.Title(alert.type)}}</td>
                        </ng-container>

                        <ng-container matColumnDef="severity">
                            <th mat-header-cell *matHeaderCellDef> Severity </th>
                            <td mat-cell *matCellDef="let alert">
                                <span [ngClass]="alert.severity + '-severity'">{{text.Title(alert.severity)}}</span>
                            </td>
                        </ng-container>

                        <!-- <ng-container matColumnDef="message">
                            <th mat-header-cell *matHeaderCellDef> Message </th>
                            <td mat-cell *matCellDef="let alert">{{alert.message}}</td>
                        </ng-container> -->

                        <!-- <ng-container matColumnDef="alert-started">
                            <th mat-header-cell *matHeaderCellDef> Alert Started At </th>
                            <td mat-cell *matCellDef="let alert">{{GetReadableTimestamp(alert.helpSentAt.toLocaleString())}}</td>
                        </ng-container> -->

                        <!-- <ng-container matColumnDef="alert-resolved">
                            <th mat-header-cell *matHeaderCellDef> Alert Resolved At </th>
                            <td mat-cell *matCellDef="let alert">{{alert.helpSentAt.toLocaleString('en-US')}}</td>
                        </ng-container> -->

                        <ng-container matColumnDef="responders">
                            <th mat-header-cell *matHeaderCellDef> Responders </th>
                            <td mat-cell *matCellDef="let alert">
                                <ng-container *ngIf="alert.responders?.length == 0">
                                    --
                                </ng-container>
                                <ng-container *ngIf="alert.responders?.length > 0">
                                    {{alert.responders}}
                                </ng-container>
                            </td>

                        </ng-container>

                        <!-- <ng-container matColumnDef="help-sent-at">
                            <th mat-header-cell *matHeaderCellDef> Help Sent At </th>
                            <td mat-cell *matCellDef="let alert">{{GetReadableTimestamp(alert.helpSentAt.toLocaleString())}}</td>
                        </ng-container>

                        <ng-container matColumnDef="help-arrived-at">
                            <th mat-header-cell *matHeaderCellDef> Help Arrived At </th>
                            <td mat-cell *matCellDef="let alert">{{GetReadableTimestamp(alert.helpArrivedAt.toLocaleString())}}</td>
                        </ng-container> -->

                        <ng-container matColumnDef="message">
                            <th mat-header-cell *matHeaderCellDef> Message </th>
                            <td mat-cell *matCellDef="let alert">{{alert.message}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="alertDetailColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: alertDetailColumns;"></tr>
                    </table>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="alertRowColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let ra; columns: alertRowColumns;" [class.example-expanded-row]="expRoomAlerts === ra"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="alert-detail-row"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>