mat-form-field {
    min-width: 15em;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.tags {
    width: 60%;
    justify-self: center;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.attributes {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
}