$save: #00c853;
$cancel:#e53935;
.column {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-form-field {
    margin-left: 1vw;
    margin-right: 1vw;
}

.button {
    &.save {
        color: $save;
    }
    &.cancel {
        color: $cancel;
    }
}