<!-- <p>
    notify works!
    </p> -->

<mat-toolbar [ngClass]="overallStatus">
    <span>{{objectTitle}} - {{responseActions.toString()}}</span>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>

</mat-toolbar>
<ng-container *ngFor="let resp of this.data">
    <section *ngIf="resp.success" class="row">
        <mat-icon class="success-icon">check</mat-icon>
        <span>{{resp.message}}</span>
    </section>
    <section *ngIf="!resp.success" class="row">
        <mat-icon class="failure-icon">error</mat-icon>
        <span>{{resp.error}}</span>
    </section>
</ng-container>

<section>
</section>