$status-good: #00c853;
$status-bad:#e53935;
$status-warning:#ffd600;
mat-card {
    // min-width: 225px;
    min-height: 150px;
    // width: 225px;
    margin-bottom: 1vh;
    margin-top: 1vh;
    margin-left: 10px;
    margin-right: 10px;
}

mat-card-content {
    min-height: 50px;
}

.edit {
    // margin: 10px;
    justify-self: flex-end;
    // margin-left: 100px;
}

.good {
    margin: 5px;
    color: $status-good;
    padding-bottom: 3px;
}

.bad {
    margin: 5px;
    color: $status-bad;
    padding-bottom: 3px;
}

.count {
    margin: 5px;
    min-width: 30px;
}

a {
    text-decoration: none;
    color: black;
}

.row {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
    width: 325px;
    padding-left: 5px;
    padding-right: 5px;
    &.buttons {
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}

.display {
    margin: 4px;
    &.icon {
        background-color: #b0b0b0;
        color: #d7d7d7
    }
    &.on {
        background-color: #3ec515;
        color: white;
    }
}