<div *ngIf="!data.finished" class="placeholder">
    <h3 class="mat-h3">Getting building information...</h3>
</div>
<div *ngIf="data.finished" class="container">
    <section class="row top">
        <button mat-stroked-button (click)="GoBack()" color="primary"><mat-icon>arrow_back</mat-icon>Back</button>
        <mat-form-field class="filters">
            <mat-label>Filters</mat-label>
            <mat-chip-list #filterList>
                <mat-chip *ngFor="let query of filterQueries" [selectable]=true [removable]=true (removed)="text.RemoveChip(query, filterQueries); FilterBuildings()">
                    {{query}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input type="text" matInput [matChipInputFor]="filterList" [matChipInputSeparatorKeyCodes]="text.separatorKeyCodes" [matChipInputAddOnBlur]=true (matChipInputTokenEnd)="text.AddChip($event, filterQueries); FilterBuildings()">
            </mat-chip-list>

        </mat-form-field>
        <button mat-raised-button color="primary" (click)="CreateNewBuilding()">Add New Building<mat-icon>add</mat-icon></button>
    </section>
    <section class="container">
        <building *ngFor="let building of filteredBuildings" [building]="building"></building>
    </section>

</div>