<!-- <p>
    helpmodal works!
</p> -->

<section class="header">
    <h2 class="mat-h2 title">Add a new Help Request</h2>
    <button mat-icon-button (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
</section>

<mat-divider class="space"></mat-divider>

<section class="row">
    <mat-form-field>
        <mat-label>Caller</mat-label>
        <input matInput type="text" [(ngModel)]="caller">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Room</mat-label>
        <input matInput type="text" [(ngModel)]="roomID" [matAutocomplete]="auto" (ngModelChange)="filterRooms()">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let room of filteredRooms" [value]="room.id">{{room.id}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
</section>

<section class="row">
    <mat-form-field class="notes" appearance="outline">
        <mat-label>Notes</mat-label>
        <textarea matInput type="text" [(ngModel)]="notes" [matTextareaAutosize]=true [matAutosizeMinRows]=10></textarea>
    </mat-form-field>

</section>

<section class="row buttons">
    <button mat-button color="primary" (click)="AddHelpRequest()">Submit</button>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
</section>