<h1 mat-dialog-title>Help Request</h1>

<div mat-dialog-content>
  <div>
    <!-------------------------------------------------->
    <span class="space-after">
      <mat-form-field>
        <mat-label>Caller <mat-icon>phone</mat-icon></mat-label>
        <div>
          <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="requesterFormControl" [matAutocomplete]="auto">
        </div>
        <mat-autocomplete autoActiveFirstOption panelWidth="40%"#auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngIf="isLoading" id="searching">Searching...</mat-option>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}<small> | ID: {{option.userName}} | {{option.title}}</small>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="requesterFormControl.hasError('required')">
          Caller is <strong>required</strong>
        </mat-error>
        <mat-hint *ngIf="requesterFormControl.value">
          NetID: {{requesterFormControl.value?.userName}} 
        </mat-hint>
      </mat-form-field>
      <button mat-icon-button
      (click)="getUserDetails(requesterFormControl.value?.userName)"
      *ngIf="requesterFormControl.value?.userName"
      >
        <mat-icon class="material-icons">
          info
        </mat-icon>
      </button>
     
    </span>
    <!-------------------------------------------------->
    <mat-form-field>
      <mat-label>Room</mat-label>
      <input matInput [formControl]="roomFormControl" placeholder="BLDG ROOM" />
      <mat-error
        *ngIf="roomFormControl.hasError('pattern') && !roomFormControl.hasError('required')"
        >Room must match <strong>'BLDG ROOM'</strong> or
        <strong>BLDG-ROOM</strong>
      </mat-error>
      <mat-error *ngIf="roomFormControl.hasError('required')">
        Room is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea
      matInput
      matTextareaAutosize
      matAutosizeMinRows="4"
      matAutosizeMaxRows="4"
      [(ngModel)]="comment"
    ></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="ref.close()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="submit()"
    [disabled]="!requesterFormControl.valid || !roomFormControl.valid"
  >
    Submit
  </button>
</div>
