<h1 mat-dialog-title>Help Request</h1>

<div mat-dialog-content>
  <div>
    <!-------------------------------------------------->
    <mat-form-field class="space-after">
      <mat-label>Caller <mat-icon>phone</mat-icon></mat-label>
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="requesterFormControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}} | {{option.userName}}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="requesterFormControl.hasError('required')">
        Caller is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <!-------------------------------------------------->
    <mat-form-field>
      <mat-label>Room</mat-label>
      <input matInput [formControl]="roomFormControl" placeholder="BLDG ROOM" />
      <mat-error
        *ngIf="roomFormControl.hasError('pattern') && !roomFormControl.hasError('required')"
        >Room must match <strong>'BLDG ROOM'</strong> or
        <strong>BLDG-ROOM</strong>
      </mat-error>
      <mat-error *ngIf="roomFormControl.hasError('required')">
        Room is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>Comment</mat-label>
    <textarea
      matInput
      matTextareaAutosize
      matAutosizeMinRows="4"
      matAutosizeMaxRows="4"
      [(ngModel)]="comment"
    ></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button color="warn" (click)="ref.close()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="submit()"
    [disabled]="!requesterFormControl.valid || !roomFormControl.valid"
  >
    Submit
  </button>
</div>
