<!-- <p>
    summary works!
</p> -->
<!-- <div class="container-full"> -->

<div class="base">

    <div class="container">
        <section class="row">
            <button mat-raised-button *ngIf="roomAlerts[0] != null" [disabled]="roomAlerts[0]?.helpSent" color="warn" (click)="modal.OpenRespondModal(roomAlerts[0])">Dispatch Help</button>
            <button mat-stroked-button *ngIf="roomAlerts[0] == null" [disabled]="true">No alerts!</button>
        </section>
        <alert-table *ngIf="roomAlerts[0] != null" [data]="roomAlerts" [singleRoom]="true" [expRoomAlerts]="roomAlerts[0]"></alert-table>
    </div>

    <div class="column mat-elevation-z3" *ngIf="filteredDevices != null">
        <div class="searchbar devices">
            <mat-icon class="searchbar icon">search</mat-icon>
            <mat-form-field class="short">
                <input matInput [(ngModel)]="deviceSearch" (ngModelChange)="SearchDevices()">
            </mat-form-field>

        </div>
        <mat-list class="list">
            <ng-container *ngFor="let device of filteredDevices">
                <mat-list-item *ngIf="device != null">
                    <mat-icon mat-list-icon>{{text.DefaultIcons[device.type.id]}}</mat-icon>
                    <h5 mat-line class="mat-h5">{{device.name}}</h5>
                </mat-list-item>
            </ng-container>

        </mat-list>
    </div>
</div>
<!-- </div> -->