<div class="container">
  <div class="device-list">
    <mat-form-field class="filter-list">
      <mat-chip-list #filterChips>
        <mat-chip
          [class.red]="filter?.ftype === filterType.Out"
          [class.green]="filter?.ftype === filterType.For"
          *ngFor="let filter of filters"
          [selectable]="true"
          [removable]="true"
          (removed)="removeFilter(filter)"
        >
          {{ filter?.key ? filter.key + ":" : "" }} {{ filter.val }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Add a filter"
          [matChipInputFor]="filterChips"
          [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
          [matChipInputAddOnBlur]="false"
          (matChipInputTokenEnd)="addChip($event)"
        />
      </mat-chip-list>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <ng-container *ngFor="let column of allColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <mat-form-field class="header">
            <mat-select
              [value]="column"
              (selectionChange)="changeCol(column, $event.value)"
            >
              <mat-option
                *ngFor="let option of allColumns"
                [value]="option"
                [disabled]="displayedColumns.includes(option)"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </th>

        <td mat-cell *matCellDef="let element">
          <div class="cell">
            <span class="text">{{ element[column] }}</span>
            <div class="buttons">
              <button
                mat-icon-button
                (click)="addFilter(filterType.For, column, element[column])"
              >
                <mat-icon>zoom_in</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="addFilter(filterType.Out, column, element[column])"
              >
                <mat-icon>zoom_out</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[64, 128, 256]"></mat-paginator>
  </div>
</div>
