.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
    flex-grow: 1 1 auto;
    &.centered {
        justify-content: center;
        padding: 20px;
    }
    &.left {
        justify-content: flex-start;
        padding: 10px;
    }
}

.device-card {
    max-height: 20%;
    width: 15vw;
    margin: 15px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.room-details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.attribute-column {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.add-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
}