<!-- <section class="row centered">
    <h1 class="mat-h1" *ngIf="room != null">{{room?.id}} Overview</h1>

</section>

<section *ngIf="deviceList?.length > 0">
    <device-list [deviceList]="deviceList"></device-list>
</section> -->
<mat-toolbar color="warn">{{room?.id}} Overview</mat-toolbar>
<section class="room-details">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Notes
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-form-field>
                <textarea matInput [(ngModel)]="room.description" placeholder="Room description"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Pictures
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <img src="https://st3.depositphotos.com/1177973/12633/i/950/depositphotos_126334676-stock-photo-funny-dogs-taking-selfie.jpg" height="250" width="325">
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Infrastructure
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="attribute-column">
                <mat-checkbox>Podium</mat-checkbox>
                <mat-checkbox>MMC</mat-checkbox>
                <mat-checkbox>Ceiling Box</mat-checkbox>
            </div>
        </mat-card-content>
    </mat-card>
</section>
<section *ngIf="deviceList?.length > 0">
    <device-list [deviceList]="deviceList"></device-list>
</section>
<div class="add-button">
    <button mat-fab color="primary"><mat-icon>add</mat-icon></button>
</div>