<section class="row centered">
    <h1 class="mat-h1" *ngIf="room != null">{{room?.id}} Overview</h1>
</section>

<!-- <section *ngIf="deviceList?.length > 0">
    <device-list [deviceList]="deviceList"></device-list>
</section> -->
<!-- <mat-toolbar color="warn">{{room?.id}} Overview</mat-toolbar> -->
<!-- <mat-expansion-panel [hideToggle]="true" [expanded]="false">
    <mat-expansion-panel-header>
        <mat-panel-title>{{room?.id}} Overview</mat-panel-title>
    </mat-expansion-panel-header>
</mat-expansion-panel> -->
<section class="room-details">
    <mat-card class="detail-card">


        <mat-card-header>
            <mat-card-title>
                Notes
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-form-field appearance="outline" style="width: 100%;">
                <textarea matInput [(ngModel)]="room.description" placeholder="Room description" [matAutosizeMinRows]="4" [matTextareaAutosize]="true"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title>
                Pictures
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <!-- <img src="https://couchdb-prd.avs.byu.edu:5984/room_attachments/BNSN-W002/bnsn-w012-1.jpg" class="images"> -->
            <slideshow [imageUrls]="getPictures()"></slideshow>
        </mat-card-content>
    </mat-card>
    <mat-card class="detail-card">
        <mat-card-header>
            <mat-card-title>
                Infrastructure
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
            <section class="row left">
                <ng-container *ngFor="let option of roomOptions">
                    <mat-checkbox class="attribute" [value]="option" (change)="ModifyRoomAttributes(option, $event.checked)" [checked]="room.attributes?.has(option)" color="primary">{{option}}</mat-checkbox>
                </ng-container>
            </section>

        </mat-card-content>
    </mat-card>
</section>
<section *ngIf="deviceList?.length > 0">
    <device-list [deviceList]="deviceList"></device-list>
</section>
<div class="add-button" dir="rtl">
    <button (click)="saveRoom()" class="fab save" mat-mini-fab>
        <mat-icon>save</mat-icon>
    </button>
    <button class="fab" *ngIf="!data.mobile" mat-fab color="primary" [matMenuTriggerFor]="menu.childMenu"><mat-icon>add</mat-icon></button>
    <button class="fab" *ngIf="data.mobile" mat-mini-fab color="primary" [matMenuTriggerFor]="menu.childMenu"><mat-icon>add</mat-icon></button>
    <app-menu-item #menu [subNodes]="data.menuTree.groups" [callback]="callbackFunc"></app-menu-item>
</div>