<div class="column">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [type]="'text'" [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput [type]="'text'" [(ngModel)]="data.description">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Tags</mat-label>
        <mat-chip-list #bldgTags>
            <mat-chip *ngFor="let tag of data.tags" [selectable]="true" [removable]="true" (removed)="text.RemoveTag(tag, data)">
                {{tag}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input matInput type="text" [matChipInputFor]="bldgTags" [matChipInputSeparatorKeyCodes]="text.separatorKeyCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="text.AddTag($event, data)">
        </mat-chip-list>
    </mat-form-field>
    <button mat-button (click)="UpdateBuilding()">Update</button>
    <button mat-button (click)="CloseModal()">Cancel</button>
</div>
