$save: #00c853;
$cancel:#e53935;
.column {
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

mat-form-field {
    min-width: 25em;
}

.button {
    &.save {
        color: $save;
    }
    &.cancel {
        color: $cancel;
    }
}