<div>
  <section class="time">
    <!-- Help Sent Time -->
    <mat-label class="help-label">Help Sent</mat-label>
    <span>@</span>
    <mat-form-field class="time-input">
      <input type="time" matInput [(ngModel)]="sentTime" />
    </mat-form-field>
  </section>
  <!-- Help Arrived Time -->
  <section class="time">
    <mat-label class="help-label">Help Arrived</mat-label>
    <span>@</span>
    <mat-form-field class="time-input">
      <input type="time" matInput [(ngModel)]="arrivalTime" />
    </mat-form-field>
  </section>
  <!-- Responder List -->
  <div>
    <mat-form-field>
      <mat-label>Responders</mat-label>
      <mat-chip-list #respChips>
        <mat-chip
          *ngFor="let resp of responders"
          [selectable]="true"
          [removable]="true"
          (removed)="RemoveResponder(resp)"
        >
          {{ resp.name }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          matInput
          type="text"
          [matChipInputFor]="respChips"
          [matChipInputSeparatorKeyCodes]="text.separatorKeyCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="AddResponder($event.input.value, $event)"
          [matAutocomplete]="auto"
          [(ngModel)]="responderSearch"
          (ngModelChange)="FilterResponders()"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="AddResponder($event.option.value, $event)"
        >
          <mat-option
            *ngFor="let responder of filteredResponders"
            [value]="responder.name"
            (click)="AddResponder(responder.id, $event)"
          >
            {{ responder.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div>
    <button mat-button>Accept</button>
  </div>
</div>
