<mat-tab-group
  id="roomTabs"
  mat-stretch-tabs
  class="full mat-elevation-z0"
  [selectedIndex]="selectedTab"
  (selectedTabChange)="tabChange($event.index)"
>
  <mat-tab label="Overview">
    <room-overview [room]="room"></room-overview>
  </mat-tab>
  <mat-tab label="Monitoring">
    <room-monitoring></room-monitoring>
  </mat-tab>
  <mat-tab label="Builder">
    <room-builder></room-builder>
  </mat-tab>
  <mat-tab label="Routing">
    <room-routing></room-routing>
  </mat-tab>
  <mat-tab label="Parts List">
    <room-parts-list></room-parts-list>
  </mat-tab>
</mat-tab-group>
