<mat-tab-group id="roomTabs" mat-stretch-tabs class="full mat-elevation-z0" [selectedIndex]="selectedTab" (selectedTabChange)="tabChange($event.index)">
    <mat-tab label="Monitoring">
        <room-monitoring></room-monitoring>
    </mat-tab>
    <!-- <mat-tab label="Builder">
        <room-builder [room]="room"></room-builder>
    </mat-tab> -->
    <mat-tab label="Devices">
        <room-devices [room]="room"></room-devices>
    </mat-tab>
    <mat-tab label="UI">
        <room-ui [room]="room"></room-ui>
    </mat-tab>
    <mat-tab label="Parts List">
        <room-parts-list></room-parts-list>
    </mat-tab>
</mat-tab-group>