.full-width {
    width: 100%;
}

.space-after {
    margin-right: 1em;
    width: fit-content;
    display: inline-block;
}
i {
    padding-right: 10px;
}

mat-grid-tile{
    text-align: left;
}

#test {
    width: 600px;
}
.details{
    position: absolute;
    left:   0px;
    top: 2px;
}

   