.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 15px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.port-field {
    width: 30%;
}