.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-top: 15px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.port-field {
  width: 30%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
