<section class="row">
    <h2 mat-dialog-title>Preset Information</h2>
    <span class="fill-remaining-space"></span>
    <button mat-stroked-button (click)="RemovePreset()" class="delete">Delete</button>
    <button mat-icon-button (click)="Close()"><mat-icon>close</mat-icon></button>
</section>
<!-- <mat-divider style="margin-top: 2px; margin-bottom: 5px;"></mat-divider> -->

<mat-dialog-content style="overflow: hidden;">
    <section class="row">
        <mat-form-field class="item">
            <mat-label>Preset Name</mat-label>
            <input matInput type="text" [(ngModel)]="data.preset.name" (ngModelChange)="UpdatePresetOnPanels()">
        </mat-form-field>
        <mat-form-field class="item">
            <mat-label>UI Path</mat-label>
            <mat-select matInput [(ngModel)]="uipath" (ngModelChange)="UpdateUIPathOnPanels()">
                <mat-option [value]="'/blueberry'">Blueberry</mat-option>
                <mat-option [value]="'/cherry'">Cherry</mat-option>
            </mat-select>
        </mat-form-field>
    </section>
    <section class="row" *ngIf="uipath === '/blueberry'">
        <div class="item">
            <mat-label>Main Icon:</mat-label>
            <button mat-icon-button (click)="ChangeIcon(data?.preset)">
            <mat-icon>{{ data?.preset?.icon }}</mat-icon>
          </button>
        </div>

        <mat-slide-toggle *ngIf="HasShareableDisplays(data.preset)" class="item" color="primary" (change)="ToggleSharing($event.checked)" [checked]="SharingEnabled()">{{text.Sharing[SharingEnabled()]}}</mat-slide-toggle>
    </section>
    <section class="row" *ngIf="SharingEnabled() && HasShareableDisplays(data.preset)">
        <mat-label class="item">Shared Displays:</mat-label>
        <span class="fill-remaining-space"></span>
        <div class="row checkbox">
            <div *ngFor="let out of data?.config.outputConfiguration" class="display">
                <ng-container *ngIf="IsADisplay(out.name) && !data.preset.displays.includes(out.name)">
                    <mat-label style="padding-top: 2px; margin-right: 3px;">{{out.name}}</mat-label>
                    <mat-checkbox color="primary" [checked]="data?.preset?.shareableDisplays?.includes(out.name)" (change)="UpdatePresetShareableDisplays(out.name, $event.checked)"></mat-checkbox>
                </ng-container>
            </div>
        </div>

    </section>

</mat-dialog-content>
<!-- <mat-dialog-actions class="actions">
    <button mat-button (click)="RemovePreset()">Delete</button>
    <button mat-button (click)="Close(true)">Save</button>
</mat-dialog-actions> -->