.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // margin-top: 5px;
    // margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.checkbox {
        justify-content: space-between;
        align-items: baseline;
    }
}

.item {
    margin-left: 5px;
    margin-right: 5px;
}

.delete {
    color: #e53935;
}

.display {
    margin-left: 3px;
    margin-right: 3px;
}