.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.panel {
    width: 50%;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 5px;
}

.settings {
    margin: 5px;
}