// .container {
//     // display: flex;
//     // flex-flow: row wrap;
//     // justify-content: space-evenly;
// }

// .panel {
//     min-width: 30%;
//     // max-width: 49%;
//     flex: 1 1 auto;
//     &.multi {
//         max-width: 45%;
//     }
// }

.alignTop {    
    ::ng-deep {
        .mat-figure {
            align-items: flex-start !important;
            justify-content: left;
        }
    }
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 5px;
}

.settings {
    margin: 5px;
}

.dashpanelClass {
    height: calc(100% - 60px);
    margin: 0px 5px;
}