.uipath-blueberry {
    background-image: url("../../../../assets/images/blueberry.png");
    background-size: cover;
}

.uipath-cherry {
    background-image: url("../../../../assets/images/cherry.png");
    background-size: cover;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 20px;
    &.lists {
        margin: 0px;
        justify-content: flex-start;
    }
    &.buttons {
        margin: 0px;
        justify-content: flex-end;
    }
}

.text-field {
    width: 110px;
    margin-left: 10px;
}

.pseudo-button {
    cursor: pointer;
}