<mat-card>
    <a routerLink="/configuration/{{building.id}}/roomlist">
        <mat-card-header>
            <mat-card-title>{{building.id}}</mat-card-title>
            <mat-card-subtitle>{{building.name}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image [src]="GetImage()" alt="A cool image of the {{building.id}}" class="image">

    </a>
    <mat-card-actions>
        <mat-action-row>
            <div class="row">
                <a routerLink="/configuration/{{building.id}}/roomlist" class="row">
                    <mat-icon class="good">check_circle</mat-icon>
                    <span class="count">{{GetGoodRoomsCount()}}</span>
                    <mat-icon class="bad">cancel</mat-icon>
                    <span class="count">{{GetBadRoomsCount()}}</span>
                </a>
                <span class="fill-remaining-space"></span>
                <button mat-icon-button class="edit" (click)="modal.OpenBuildingModal(building)" *ngIf="NotADump()"><mat-icon>more_horiz</mat-icon></button>
            </div>
        </mat-action-row>
    </mat-card-actions>

</mat-card>