.column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.container {
    min-width: 35vw;
    min-height: 30vh;
}

.text {
    width: 50%;
}

.resolve {
    background-color: #43a047;
    color: white;
  }