$status-good: #00c853;
$status-bad:#e53935;
$status-warning:#ffd600;

.flexContainer {
    height: 100%;
}

table {
    width:100%;
}

.display-on {
    background-color: $status-good;
}

.display-standby {
    background-color: lightslategray;
}

.mic-good {
    background-color: $status-good;
}

.mic-okay {
    background-color: $status-warning;
}

.mic-bad {
    background-color: $status-bad;
}

.chipList{
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    min-width: 100px;
}