Room status coming soon


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>System Type</th>
        <td mat-cell *matCellDef="let rs"> test </td>
    </ng-container>

    <!-- {{text.SystemTypeIcon[issue.systemType]}} -->
    <!-- {{data.GetRoomIssue(rs.roomID).systemType}} -->

    <ng-container matColumnDef="roomID">
        <th mat-header-cell *matHeaderCellDef>Room ID</th>
        <td mat-cell *matCellDef="let rs"> {{rs.roomID}} </td>
    </ng-container>

    <ng-container matColumnDef="alerts">
        <th mat-header-cell *matHeaderCellDef># of Alerts</th>
        <td mat-cell *matCellDef="let rs"> {{rs.alertingCount}} </td>
    </ng-container>

    <ng-container matColumnDef="devices">
        <th mat-header-cell *matHeaderCellDef>Devices</th>
        <td mat-cell *matCellDef="let rs"> {{rs.deviceCount}} </td>
    </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
</table>