<div *ngIf="info.selected.length == 0">
    <section>
        <h2 class="mat-h2">You selected no alerts...</h2>
    </section>
    <section>
        <h4 class="mat-h4">I will now try to resolve all of them. Do you wish to continue?</h4>
    </section>
    <section class="row spread">
        <button mat-flat-button (click)="UpdateSelected()" class="button save">YES</button>
        <button mat-flat-button (click)="dialogRef.close()" class="button cancel">NO</button>
    </section>

</div>
<div *ngIf="info.selected.length > 0">
    <section>
        <h2 class="mat-h2">Choose a resolution code</h2>
    </section>
    <mat-form-field>

        <mat-select [(ngModel)]="info.issue.resolutionInfo.code">
            <mat-option *ngFor="let code of data.closureCodes" [value]="code">{{code}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>