<div *ngIf="data.finished" class="container">
    <!-- <section class="row">
        <button mat-stroked-button (click)="GoBack()" color="primary"><mat-icon>arrow_back</mat-icon>Back</button>
    </section> -->
    <!-- <section class="row"> -->
    <mat-accordion class="list">
        <ng-container *ngFor="let category of deviceCategories">
            <mat-expansion-panel [hideToggle]="true" [expanded]="false">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{category.title}}</mat-panel-title>
                    <!-- <mat-panel-description>Total: {{GetCategoryCount(category.tag)}}</mat-panel-description> -->
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            <section class="row">
                <ng-container *ngFor="let device of deviceList">
                    <device *ngIf="DeviceIsInCategory(device, category.tag)" [device]="device"></device>
                </ng-container>
            </section>
        </ng-container>
    </mat-accordion>

    <!-- </section> -->

</div>