.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 1.5vh 0;
}

.alerts {
  width: 95%;
  margin: 1vh 0;

  table {
    width: 100%;
  }
}

.card-header-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes-and-visits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0;
  width: 95%;

  .notes {
    width: 70%;

    display: flex;
    flex-direction: column;
    align-items: center;

    mat-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
    }

    .note {
      display: flex;
      flex-direction: column;
      // margin: 1em 0;
      width: 90%;

      .info {
        font-size: 1.2em;
        padding: 0.75em 0.75vw;
        background-color: #f6f8fa;
        border-bottom: 1px solid #dddddd;
        color: #586069;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      .content {
        font-size: 1.1em;
        padding: 1.5vh 1vw;
        word-wrap: break-word;
        white-space: pre-line;
      }
      .connector {
        margin-left: 10px;
        margin-right: 10px;
        width: 2px;
        height: 20px;
        background-color: #dddddd;
      }
    }

    .new-note {
      margin: 1em 0;
      width: 90%;
      // height: 15vh;

      mat-form-field {
        width: 100%;
        // height: 100%;
      }

      .comment-button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .actions-and-visits {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    .actions {
      width: 100%;

      mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        button {
          width: 50%;
          margin: 0.4em 0;
          &.resolve {
            background-color: #43a047;
            color: white;
          }
        }
      }
    }

    .visits {
      width: 100%;
      margin: 1em 0;
    }
  }
}

.split-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  margin: 0.4em 0;
  // align-items: center;
  cursor: pointer;
  border-radius: 4px;
  width: 50%;
  min-height: 35px;
  height: 40px;
  background-color: #0d47a1;
  color: white;
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
  }
  .side {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
  }
}

::ng-deep mat-divider {
  border-right-width: 2px !important;
}

.severity {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
  width: 18px;
  min-height: 40px;
  height: 80%;
  border-radius: 12px;
  background-color: #ffd600;
  &.warning {
      background-color: #fb8c00;
  }
  &.critical {
      background-color: #f44336;
      color: white;
  }
}

.filters {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  // border: 1px solid #dddddd;
    // border-radius: 3px;
    // background-color: #e7e7e7;
  width: 12vw;
}

.filter-list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
