$resolve: #18b32c;
$cancel: #e53935;
$save: #0046c8;
.base {
  min-height: 100%;
  height: 100vh;
  padding: 10px;
}

.container {
  display: inline-block;
  height: 100%;
  width: 100%;
  flex: 1 1 auto;
  &.full {
    width: 100%;
    padding: 1%;
  }
}

.info-header {
  margin-left: auto;
  margin-right: auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-left: 4vw;
  margin-right: 4vw;
  height: wrap;
  max-height: 40vh;
  flex-grow: 1;
  width: 220px;
  &.back {
    width: 100px;
    justify-self: flex-start;
  }
  &.visits {
    margin-left: 10px;
    margin-right: 10px;
    align-items: flex-start;
    width: 20%;
  }
  &.schedule {
    margin-left: 10px;
    margin-right: 10px;
    align-items: flex-start;
    width: 35%;
  }
  &.notes {
    margin-left: 10px;
    margin-right: 10px;
    align-items: flex-start;
    width: 35%;
  }
}

.issue-free {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  margin-left: 4vw;
  margin-right: 4vw;
  height: wrap;
  max-height: 40vh;
  flex-grow: 1;
  width: 440px;
}

.schedule-container {
  max-height: 80%;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.searchbar {
  border-radius: 50px;
  padding-left: 5px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.icon {
    box-shadow: none;
    margin: 5px;
  }
  &.devices {
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.short {
  width: 100px;
}

.list {
  justify-self: flex-start;
  max-height: 100%;
  height: wrap;
  overflow: hidden;
  padding: 10px;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 3vh;
  margin-bottom: 3vh;
  &.help {
    justify-content: flex-start;
  }
  &.resolve {
    align-items: flex-start;
  }
  &.action {
    padding: 10px;
  }
}

.issue-table {
  margin-top: 5px;
}

.button {
  width: 115px;
  margin-left: 20px;
  margin-right: 10px;
  &.resolve {
    margin-bottom: 20px;
  }
  &.save {
    color: $save;
  }
  &.cancel {
    color: $cancel;
  }
}

.cardrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
}

.actioncard {
  margin-top: 10px;
  // float: left;
  width: 100%;
}

.time {
  width: 100px;
  margin-left: 10px;
  margin-right: 20px;
}

.timestamp {
  color: #bbbbbb;
}

::ng-deep .mat-line {
  word-wrap: break-word !important;
  white-space: normal !important;
}

.notes {
  width: 13vw;
}

.notes-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  // margin-top: 20px;
}

.notes-column {
  padding: 5px;
  min-height: 30vh;
  width: 17vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notes-log {
  display: flex-grow;
  flex-direction: column-reverse;
  // justify-self: flex-end;
  max-height: 27vh;
  height: wrap;
  overflow: auto;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &:hover {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

#notesLog {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

#icon {
  top: 0px;
  left: 0px;
  position: absolute;
  font-size: 8pt;
}

.mat-column-block {
  padding-left: 5px;
  padding-right: 5px;
  width: 6em;
  max-width: 6em;
}

.mat-column-className {
  padding-left: 5px;
  padding-right: 5px;
  width: 6em;
  max-width: 6em;
}

.mat-column-classTime {
  padding-left: 5px;
  padding-right: 5px;
  width: 6em;
  max-width: 6em;
}

.mat-column-teacher {
  padding-left: 5px;
  padding-right: 5px;
  width: 6em;
  max-width: 6em;
}

.mat-column-days {
  padding-left: 5px;
  padding-right: 5px;
  width: 5em;
  max-width: 5em;
}

.full-width {
  width: 100%;
}

.visit {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.help-arrived {
  * {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  button {
    transition: opacity 1.5s ease-in-out;
  }
  span {
    transition: opacity 1.5s ease-in-out;
  }
  &.success {
    background-color: #5cbb5c;
  }
  &.error {
    background-color: #d9534f;
  }
  ::ng-deep.mat-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    position: absolute;
    top: 25%;
  }
  .mat-icon {
    position: absolute;
  }
}
