<div class="base">
    <div *ngIf="roomIssues == null">
        We are A-Okay!
    </div>
    <div class="container" *ngIf="roomIssues != null">
        <app-alert-table *ngIf="GetRoomAlerts() != null" [singleRoom]="true" [expIssue]="roomIssue"></app-alert-table>
        <!-- Action Card -->
        <mat-card class="actioncard">
            <mat-card-title>Actions</mat-card-title>
            <mat-card-content>
                <div>
                    <button mat-raised-button color="primary" class="button" (click)="HelpWasSent()">Help Sent!</button>

                    <mat-label>@</mat-label>
                    <mat-form-field class="time">
                        <input type="time" matInput [(ngModel)]="sentTime">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button color="warn" class="button" (click)="HelpHasArrived()">Help Arrived!</button>

                    <mat-label>@</mat-label>
                    <mat-form-field class="time">
                        <input type="time" matInput [(ngModel)]="arrivedTime">
                    </mat-form-field>
                </div>
                <div>
                    <button mat-raised-button class="button resolve" color="accent" (click)="UpdateIssue()">Update Issue</button>
                </div>
                <div>
                    <button mat-raised-button class="button resolve" (click)="modal.OpenRespondModal(roomIssue, table.selection.selected)" [disabled]="roomIssue?.SentIsZero() || roomIssue?.ArrivedIsZero()">Resolve Alerts</button>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Notes Card -->
        <mat-card class="notescard">
            <mat-card-title>Notes</mat-card-title>
            <mat-card-content>
                <div>
                    <mat-form-field class="notes mat-elevation-z2">
                        <textarea matInput placeholder="Notes" [matTextareaAutosize]=true [(ngModel)]="roomIssue.notes"></textarea>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="column mat-elevation-z3" *ngIf="filteredDevices != null">
        <div class="searchbar devices mat-elevation-z0">
            <mat-icon class="searchbar icon mat-elevation-z0">search</mat-icon>
            <mat-form-field class="short">
                <input matInput [(ngModel)]="deviceSearch" (ngModelChange)="SearchDevices()">
            </mat-form-field>

        </div>
        <mat-list class="list mat-elevation-z0">
            <ng-container *ngFor="let device of filteredDevices">
                <mat-list-item *ngIf="device != null">
                    <mat-icon mat-list-icon>{{text.DefaultIcons[device.type.id]}}</mat-icon>
                    <h5 mat-line class="mat-h5">{{device.name}}</h5>
                </mat-list-item>
            </ng-container>

        </mat-list>
    </div>
</div>
