<div class="base">
    <section class="row" *ngIf="roomIssue == null">
        <section *ngIf="!data.finished" class="info-header">
            <h3 class="mat-h3">Currently updating room issues...</h3>
        </section>
        <section *ngIf="data.finished" class="info-header">
            <h3 class="mat-h3">There are no issues with this room at the moment!</h3>
        </section>
    </section>

    <section class="container" *ngIf="data.finished">
        <section class="row" *ngIf="roomIssue != null">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Room Issues</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content class="row-table">
                    <app-alert-table [singleRoom]="true" [expIssue]="roomIssue"></app-alert-table>
                </mat-card-content>
            </mat-card>

            <aside class="column mat-elevation-z3" *ngIf="filteredDevices != null">
                <div class="searchbar devices mat-elevation-z0">
                    <mat-icon class="searchbar icon mat-elevation-z0">search</mat-icon>
                    <mat-form-field class="short">
                        <input matInput [(ngModel)]="deviceSearch" (ngModelChange)="SearchDevices()" />
                    </mat-form-field>
                </div>
                <mat-list class="list mat-elevation-z0">
                    <ng-container *ngFor="let device of filteredDevices">
                        <mat-list-item *ngIf="device != null">
                            <mat-icon mat-list-icon>{{ text.DefaultIcons[device.type.id] }}
                            </mat-icon>
                            <h5 mat-line class="mat-h5">{{ device.name }}</h5>
                        </mat-list-item>
                    </ng-container>
                </mat-list>
            </aside>
        </section>

        <section class="cardrow">
            <mat-card class="actioncard">
                <mat-card-header>
                    <mat-card-title>Action Info</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <section class="row action">
                        <aside class="column schedule">
                            <h3 class="mat-h3">Schedule</h3>
                            <div class="schedule-container mat-elevation-z2">
                                <div *ngIf="classSchedule != null && classSchedule.length == 0">
                                    <h3 class="mat-h3">Looking for room schedule...</h3>
                                </div>
                                <table mat-table [dataSource]="scheduleData" *ngIf="classSchedule != null && classSchedule.length > 0">
                                    <ng-container matColumnDef="block">
                                        <th mat-header-cell *matHeaderCellDef>Time</th>
                                        <td mat-cell *matCellDef="let classBlock">
                                            {{ to24Hour(classBlock.blockStart) }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="className">
                                        <th mat-header-cell *matHeaderCellDef>Class</th>
                                        <td mat-cell *matCellDef="let classBlock">
                                            {{ classBlock.className }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="classTime">
                                        <th mat-header-cell *matHeaderCellDef>Class Time</th>
                                        <td mat-cell *matCellDef="let classBlock">
                                            {{ classBlock.classTime }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="teacher">
                                        <th mat-header-cell *matHeaderCellDef>Teacher</th>
                                        <td mat-cell *matCellDef="let classBlock">
                                            {{ classBlock.teacher.name }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="days">
                                        <th mat-header-cell *matHeaderCellDef>Days</th>
                                        <td mat-cell *matCellDef="let classBlock">
                                            {{ classBlock.days }}
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="scheduleColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let classBlock; columns: scheduleColumns"></tr>
                                </table>
                            </div>
                        </aside>
                        <aside class="column visits" *ngIf="roomIssue != null">
                            <h3 class="mat-h3">Visits</h3>
                        </aside>
                        <aside class="column notes" *ngIf="roomIssue != null">
                            <h3 class="mat-h3">Notes</h3>
                            <section class="notes-row">
                                <div class="notes-column">
                                    <mat-form-field class="notes" appearance="outline">
                                        <textarea matInput placeholder="Add New Note" [matAutosizeMinRows]="4" [matTextareaAutosize]="true" [(ngModel)]="tempNotes" (keyup)="$event.keyCode == 13 ? AddNote() : null"></textarea>
                                    </mat-form-field>
                                </div>

                                <div class="notes-column">
                                    <!-- <h4 class="mat-subheading-2">Notes Log</h4> -->
                                    <mat-list class="notes-log" *ngIf="roomIssue.notesLog?.length > 0">
                                        <mat-list-item id="notesLog" *ngFor="let note of roomIssue.notesLog">
                                            <mat-icon id="icon" mat-list-icon>label</mat-icon>
                                            <p mat-line>{{ ExtractNoteInfo(note, false) }}</p>
                                            <p mat-line class="timestamp">
                                                {{ ExtractNoteInfo(note, true) }}
                                            </p>
                                        </mat-list-item>
                                    </mat-list>
                                </div>
                            </section>
                        </aside>
                    </section>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="modal.OpenResponseModal()">
            New Visit <mat-icon>add</mat-icon>
          </button>
                    <button mat-raised-button color="warn" (click)="modal.OpenMaintenanceModal(roomID)">
            Maintenance <mat-icon>bug_report</mat-icon>
          </button>
                    <button mat-raised-button class="button resolve" *ngIf="isResolvable()" (click)="openResolve()">
            Resolve Alerts
          </button>
                </mat-card-actions>
            </mat-card>
        </section>
        <!-- <section class="cardrow"> -->
        <!-- Notes Card -->

        <!-- </section> -->
    </section>
</div>